@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: rgb(250, 217, 244);
    padding: 10px;
}

.item {
    border: 2px solid #000;
    background-color: #c0d2ec;
    padding: 10px;
}

/* place-self
 align-self justify-self를 같이 단축*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.item:nth-child(2) {
    place-self:center;
    place-self:start;
    place-self:end;
    place-self:center end;
    place-self:center start;
    place-self: start center;
    place-self: start end;


}